
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     <link rel="stylesheet" type="text/css" href="../media/css/sched.css">
</head>
<body>
<div class="results">
       <table width="100%" border="0" cellpadding="4" cellspacing="1" bgcolor="#cccccc" class="tabtop13" align="center" >
           <tr>
               <th width="10%"  class="btbg font-center titfont" >任务id</th>
               <th width="10%" class="btbg font-center titfont" >下次执行时间</th>
               <th width="10%" class="btbg font-center titfont" >是否执行</th>
               <th width="10%" class="btbg font-center titfont" >操作</th>
           </tr>
           <tr>
               <td width="10%" class="font-center">ssssss</td>
               <td width="10%" class="font-center">2017-10-11</td>
               <td width="10%" class="font-center">否</td>
               <td width="10%" class="font-center">
                   <div class="btn-group open">
                                <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
                                    操作
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu" style="width: 100px;">
                                    <li><a href="/CardPlan/PromoCardPlanDetail?id=902988">查看详情</a></li>
                                                                        <!--<li class="divider"></li>
                                <li><a href="/CardPlan/ForbidPromoCardPlan?id=">禁用</a></li>-->
                                                                    </ul>
                            </div>
               </td>
           </tr>
       </table>
    </div>
    </body>
</html>

